{% extends "base.html" %}

{% block css %}
    <link rel="stylesheet" href="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/css/blog.css" />
{% endblock %}
{% block content %}
	{% include "navigation.html" %}
	<section class="row" id="blog-posts">
		<h1 id="blog"><span>{% block title %}{% endblock %}</span></h1>
		{% for article in articles_page.object_list %}
			<article class="row post">
				<h2>
					<a
						href="{{ SITEURL }}/{{ article.url }}"
						rel="fade"
						title="{{ article.title|striptags }}">
						{{ article.title}}
					</a>
				</h2>
				<small class="timestamp">
					in <a href="{{ SITEURL }}/{{article.category.url}}">{{article.category}}</a>, {{ article.date|strftime('%d %b %Y') }}
				</small>
				<p>
					{{article.summary}}
				</p>
			</article>
		{% endfor %}
	</section>
	{% if articles_page %}
		<section id="paginate" class="row">
			{% if articles_page.has_previous() %}
				<div class="small-4 large-4 columns left show">
					<a href="{{SITEURL}}/{{page_name}}{{articles_page.previous_page_number()
						if articles_page.previous_page_number() > 1
							else ""
						}}.html">Previous Page
					</a>
				</div>
				<div class="small-4 large-4 columns left hide">
					<a href="{{SITEURL}}/{{page_name}}{{articles_page.previous_page_number()
						if articles_page.previous_page_number() > 1
							else ""
						}}.html">Prev
					</a>
				</div>
			{% else %}
				<div class="small-4 large-4 columns left show">
					<a href="{{SITEURL}}/{{page_name}}{{articles_page.previous_page_number()
						if articles_page.previous_page_number() > 1
							else ""
						}}.html">Previous Page
					</a>
				</div>
				<div class="small-4 large-4 columns left hide">
					<a href="{{SITEURL}}/{{page_name}}{{articles_page.previous_page_number()
						if articles_page.previous_page_number() > 1
							else ""
						}}.html">Prev
					</a>
				</div>
			{% endif %}
			<div class="small-4 large-4 columns center"><span>{{articles_page.number}} of {{articles_paginator._get_num_pages()}}</span></div>
			{% if articles_page.has_next() %}
				<div class="small-4 large-4 columns right show">
					<a href="{{ SITEURL }}/{{ page_name }}{{ articles_paginator.num_pages }}.html">Next Page</a>
				</div>
				<div class="small-4 large-4 columns right hide">
					<a href="{{ SITEURL }}/{{ page_name }}{{ articles_paginator.num_pages }}.html">Next</a>
				</div>
			{% else %}
				<div class="small-4 large-4 columns right show">
					<a href="{{ SITEURL }}/{{ page_name }}{{ articles_paginator.num_pages }}.html">Next Page</a>
				</div>
				<div class="small-4 large-4 columns right hide">
					<a href="{{ SITEURL }}/{{ page_name }}{{ articles_paginator.num_pages }}.html">Next</a>
				</div>
			{% endif %}
		</section>
	{% endif %}
	{% include "footer.html" %}
{% endblock %}
