 <footer class="row">
	<h1 id="category"><span>Categories</span></h1>
	<div class="large-9 large-centered columns text-center">
		<p>STM32F4071</p>
		<p>STM32F4072</p>
		<p>STM32F4073</p>
		<p>STM32F4074</p>
		<p>STM32F4075</p>
		<p>Arduino1</p>
		<p>Arduino2</p>
		<p>Arduino3</p>
		<p>Arduino4</p>
		<p>Arduino5</p>
	</div>

	<h1 id="category"><span>Categories</span></h1>
	<div class="large-9 large-centered columns text-center">
		<ul>
			<li>STM32F4071</li>
			<li>STM32F4072</li>
			<li>STM32F4073</li>
			<li>STM32F4074</li>
			<li>STM32F4075</li>
			<li>Arduino1</li>
			<li>Arduino2</li>
			<li>Arduino3</li>
			<li>Arduino4</li>
			<li>Arduino5</li>
		</ul>
	</div>
</footer>