<header class="row">
    <div class="color-bar small-7 small-offset-5 large-6 large-offset-6 columns">
        <ul>
            <li class="l1"></li>
            <li class="l2"></li>
            <li class="l3"></li>
            <li class="l4"></li>
        </ul>
    </div>
    <div id="logo" class="small-5 large-6 columns">
        <img class="logo1" src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/images/robot.png" alt="">
    </div>
    <nav class="small-7 large-6 columns">
        <ul>
            <li class="l1"><a href="{{ SITEURL }}/index.html">Home</a></li>
            <li class="l2"><a href="{{ SITEURL }}/index.html#productsSection">Work</a></li>
            <li class="l3"><a href="{{ SITEURL }}/blog.html">Blog</a></li>
            <li class="l4"><a href="{{ SITEURL }}/index.html#footer">Contact</a></li>
        </ul>
    </nav>
</header>
